@charset "UTF-8";
body {
	font: 100%/1.4 "Baskerville", "Times New Roman", Times, serif
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color:#414958;
	text-decoration: underline;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto;
}

.header {
	background-color: #3C1410;
}

.sidebar1 {
	float: right;
	width: 20%;
	background-color: #CD6451;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 80%;
		float: right;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #6F7D94;
	color: #FFF;
}
#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#modal{
    width: 350px;
    background:#CCC;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}
#modal .header {
    background:#333;
    color:#fff;
    padding: 10px;
}
#modal p {
    margin: 15px;
}
#modal .close {
    position:absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f00;
}
form {
    padding: 10px;
}
form.input {
    padding: 10px;
}
.mystatus > input[type=radio] {
    display: none;
}
input[type=radio] + img{
    cursor: pointer;
    border: 2px solid transparent;
}
input[type=radio]:checked + img{
    border: 2px solid #f00;
}

.tooltip {
    display: none;
    position:absolute;
    border: 1px solid #333;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
}
/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #3C1410;
	position: relative;
	clear: both;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}